.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    display: flex;
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    justify-content: center;
}

.inner {
    height: 100%;
    width: varr(--default-layout-width);
    background-color: rgb(187, 183, 183);
}
