// Menu wrapper
.menu-list {
    width: 224px;

    // Nguyên nhân đưa vào bên trong như sau:
    //Tippy của Menu sẽ render với parrent là Menu-List -> button sẽ có cấp ngang hàng với menu-item.
    //Do đó với việc đặt bên ngoài nó sẽ hiểu button là children của menu-item dẫn đến wrapper của button sẽ được render sau và ghi đè lên css của menu-item. Do đó chưa vào trong menu-list nó sẽ hiểu là ngang cấp với button và ghi đè menu-item lên button.
    // Khi đặt ngoài menu-list nó sẽ được hiểu là bằng cấp với menu-list
    // menu Items
    .menu-item {
        justify-content: flex-start;

        width: 100%;
        max-height: 42px;
        margin-left: 0;
        padding: 11px 16px;

        font-weight: 550;
        // Nếu có separate sẽ bổ sung thêm border top
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
            border-radius: 0;
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    // Tuwjd dộng xuất hiện thanh lăn chuột
    overflow-y: auto;
}

// Header component styles
.header {
    position: relative;

    flex-shrink: 0;

    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;

    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
