// Khi css blueprints nên sử dụng min width và height và tùy chỉnh cho các components khác.

.wrapper {
    width: 100%;
    // Set chiều cao tối đa để nó không vượt quá màn hình.
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    padding-top: 8px;
}
